
// Vuetify Classes
.theme--light.v-application {
  background: unset !important;
}

.v-application {
  font-family: inherit;
}

.v-application a {
  color: inherit;
}

.theme--light {
  background: transparent !important;
}