:root {

  // Fonts
  --font-Montserrat: 'Montserrat', sans-serif;
  --font-messiri: 'El Messiri', Arial, sans-serif;
  --font-blaak: "Blaak", 'Montserrat', Arial, sans-serif;

  // Colors
  --color-white: #ffffff;
  --color-light: #ffffffd0;
  --color-lighter: #fafafa;
  --color-gray-lighter: #ffffff99;
  --color-gray-light: #c4c4c4;
  --color-gray-medium: #666666;
  --color-gray-dark: #666666;
  --color-blue-light: #40739e;
  --color-blue-medium: #273c75;
  --color-blue-dark: #3c4353;
  --color-blue-darker: #2f3640;
  --color-green-light: #0cd10c;
  --color-green-medium: #2f9c0a;
  --color-green-dark: #2a880b;
  --color-green-darker: #2f6b1b;
  --color-red-light: #e84118;
  --color-red-medium: #c23616;
  --color-red-dark: #a31f1f;
  --color-red-darker: #7c0e0e;
  --color-dark: #444444;
  --color-darker: #20262e;
  --color-darkest: #151515;

  --shadow: rgba(0, 0, 0, 0.4);
  --overlay: rgba(0, 0, 0, 0.6);

  --border-light: #ffffff1f;

  // Font size
  --fontsize-1: 5rem;
  --fontsize-2: 4rem;
  --fontsize-3: 3rem;
  --fontsize-4: 2.2rem;
  --fontsize-5: 1.8rem;
  --fontsize-6: 1.6rem;
  --fontsize-7: 1.2rem;
  --fontsize-default: 1.6rem;

  // Breakpoints
  --break-sm: 57.6rem;
  --break-md: 76.8rem;
  --break-lg: 99.2rem;
  --break-xl: 120rem;
  --break-xxl: 140rem;

  // Gap
  --gap-sm: 2rem;
  --gap-md: 3rem;
  --gap-lg: 6rem;

  // Grid
  --grid-width: 114rem;
  --gutter-vertical: 6rem;
  --gutter-vertical-small: 3rem;


  // Transitions
  --trs: 0.3s;
  ---trs-slow: 0.5s;
}
