@import '../../sass/mixins.scss';

.fullheight {
  height: 100%;
}

.tab-content {
  display: grid !important;
  grid-template-columns: minmax(200px, 300px) 1fr;
  height: 100%;
}

.side {
  // height: 100%;
  padding-bottom: 0 !important;

  @include breakpoint(phone) {
    position: relative;
    width: 100vw !important;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 0 !important;
  }

  .v-slide-group__wrapper {
    @include breakpoint(phone) {
      width: 100vw !important;
      // margin-left: -5rem;
      // margin-right: -5rem;
    }
  }

  &_item {
    padding: 2rem !important;
  }

  &__img {
    width: 2.5rem;
    margin-right: 1rem;

    @include breakpoint(phone) {
      display: none;
    }
  }
  
  &__title {
    font-size: var(--fontsize-6);
    color: var(--color-lighter) !important;
    display: inline-block;
    
    @include breakpoint(phone) {
      font-size: var(--fontsize-8);
    }
  }
}

.v-tabs-slider-wrapper {
  top: 0px;
  color: var(--color-lighter);
}

.v-tab--active {
  background-color: var(--color-red-darker);
}