@import '../../sass/mixins.scss';

.pageheader {
  @include padding-x(2rem);
  @include flex-center();
  background-color: var(--color-red-darker);
  width: 100%;
  height: 15rem;
  border-bottom: 2px solid var(--color-red-darker);
  margin-bottom: var(--gap-lg);

  &__title {
    display: inline-block;
    color: var(--color-light);
    margin-right: var(--gap-sm);
  }
  
  &.spells {
    background:linear-gradient(to top right, rgba(#3a3a3a,0.4), rgba(#2d333e,0.4)), url('../../assets/img/2878886.jpg');
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  & span {
    display: inline-block;
    font-family: 'Circular-Loom', sans-serif;
    font-size: var(--fontsize-5);
    color: var(--color-light) !important;
  }
}