@import '../../sass/mixins.scss';

.drawer {
  &_body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -60vw;
    width: 60vw;
    height: 100%;
    max-width: 120rem;
    padding: 0.5rem 1.2rem;
    background-color: var(--color-darker);
    border-left: 5px solid var(--color-red-dark);
    box-shadow: -2px 0 4px 6px var(--shadow);
    z-index: 100;
    overflow: auto;
    transition: right ease-in-out var(--trs);

    @include breakpoint(phone) {
      width: 100vw;
      right: -100vw;
      padding: 2rem 1.5rem;
    }
  }
  
  &_header {
    padding: 1rem 1.5rem 1.5rem;
    
    & > div {
      display: inline-block;
      margin-bottom: var(--gap-sm);
      color: var(--color-lighter);
      font-size: var(--fontsize-6);
      text-transform: uppercase;
      opacity: 0.6;
    }
    
    button {
      padding: 0.5rem;
      margin-right: var(--gap-sm);
      transition: color ease var(--trs);
      &:hover {
        color: var(--color-red-dark);
      }
    }
    .back {
      cursor: pointer;
    }
  }
  
}
.drawer_mask {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all ease-in-out var(--trs);
  z-index: 90;
  pointer-events: none;
}


.drawer_body::-webkit-scrollbar {
  width: 1em;
  margin-right: 5px;
}

.drawer_body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px transparent;
}

.drawer_body::-webkit-scrollbar-thumb {
  background-color: var(--color-blue-dark);
  outline: 1px solid var(--color-blue-dark);
}

.drawer.open {
  .drawer_mask {
    background-color: var(--overlay);
    pointer-events: initial;
  }
  .drawer_body {
    right: 0;
    transition: right ease-in-out var(--trs);
  }
}

// Breakpoint
