@import '../../sass/mixins.scss';

// .drawer {
// }

.drawer_body {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -60vw;
  width: 60vw;
  height: 100%;
  background-color: var(--color-darker);
  border-left: 5px solid var(--color-red-dark);
  // background-color: var(--color-white);
  box-shadow: -2px 0 4px 6px var(--shadow);
  opacity: 0;
  z-index: 100;
  transition: right ease-in-out var(--trs);
  
  &.open {
    opacity: 1;
    right: 0;
    transition: right ease-in-out var(--trs);
  }

  h2, span {
    color: var(--color-light);
  }
}
.drawer_mask {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  transition: all ease-in-out var(--trs);
  z-index: 90;
  pointer-events: none;
  
  &.open {
    opacity: 1;
    background-color: var(--overlay);
    pointer-events: unset;
  }
}