@import '../../sass/mixins.scss';

.header {
  @include flex-between();
  align-items: stretch;
  @include padding-x(2rem);
  
  &_logo {
    width: fit-content;
    max-width: 25rem;
    
    & > h1 {
      font-size: var(--fontsize-1);
      color: var(--color-light) !important;
    }
  }
  
  &_nav {
    @include flex-end();
    font-size: var(--fontsize-5);
  }

  & > .v-toolbar__content {
    justify-content: space-between;
    align-items: stretch !important;
  }
}
.nav_link {
  @include flex-center();
  height: 100%;
  @include padding-x(2rem);
  color: var(--color-light) !important;
  letter-spacing: 0.2rem;
  transition: all var(--trs) ease-in-out;
  
  @include has-hover() {
    background-color: var(--color-red-darker);
    color: var(--color-lighter);
  }

  &.router-link-active {
    position: relative;
    color: var(--color-green-darker);

    &::after {
      content: '';
      background-color: var(--color-red-darker);
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 4px;
    }
  }
}
