@import '../../assets/sass/mixins.scss';

.header {
  @include flex-between();
  align-items: stretch;
  background-color: var(--color-blue-dark);
  @include padding-x(2rem);
  
  &_logo {
    width: fit-content;
    max-width: 25rem;
    
    & > h1 {
      font-size: var(--fontsize-1);
      color: var(--color-lighter);
    }
  }
  
  &_nav {
    @include flex-end();
    font-size: var(--fontsize-5);
    
    a {
      @include flex-center();
      height: 100%;
      @include padding-x(2rem);
      color: var(--color-lighter);
      letter-spacing: 0.2rem;
      border-bottom: 2px solid transparent;
      transition: all var(--trs) ease-in-out;
      
      @include has-hover() {
        background-color: var(--color-green-darker);
        color: var(--color-lighter);
        border-bottom: 2px solid var(--color-lighter);
      }
    }

    .router-link-active {
      background-color: var(--color-green-darker);
      color: var(--color-lighter);
      border-bottom: 2px solid var(--color-lighter);
    }
  }

}
