@import '../../sass/grid.scss';

.searchform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 1rem;
  padding: 0 2rem 2rem;
  font-family: 'Montserrat' !important;
  border-bottom: 3px solid var(--color-blue-darker);
  
  @include breakpoint(phone) {
    margin-bottom: 2rem;
  }
  
  &__title {
    margin-bottom: 0 !important;
    font-family: inherit;
    font-weight: 400;
    
    @include breakpoint(phone) {
      width: -webkit-fill-available;
    }
  }
    
  &__field {
    display: flex;
    max-width: 600px;
    width: 50%;
    min-width: 300px;
    background-color: var(--color-blue-dark);
    border-radius: 5px;
    
    @include breakpoint(phone) {
      width: 100%;
    }
  }
  
    
  &__input {
    width: 100%;
    font-size: var(--fontsize-6);
    color: var(--color-light);
    padding: 1.6rem;
    letter-spacing: 0.15em;
    
    &::placeholder {
      color: var(--color-gray-lighter);
    }
    &:focus {
      outline: none;
    }
  }

  &__icon {
    padding: 1.6rem;
    font-size: 2rem;
    color: var(--color-gray-lighter);
  }
}


// Transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}